@using Website.Models.Music;

@helper MusicPlayer(List<Track> tracks) {
    <div class="music_player"></div>
    <section class="jp-playlist-player">
        <div class="jp-interface clearfix">
            <ul class="jp-controls">
                <li class="jp-play"></li>
                <li class="jp-pause"></li>
                <li class="jp-stop"></li>
                <li class="jp-volume-min"></li>
                <li class="jp-volume-max"></li>
                <li class="jp-previous"></li>
                <li class="jp-next"></li>
            </ul>
            <div class="jp-progress">
                <div class="jp-load-bar">
                    <div class="jp-play-bar"></div>
                </div>
            </div>
            <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
            </div>
            <div class="jp-play-time"></div>
            <div class="jp-total-time"></div>
        </div>
        <div class="jp-playlist">
            <div>
            <button class="playlist_collapse open"></button> Playlist
            </div>
            <ul>
                @{var even = false;}
                @foreach (var track in tracks)
                {
                    <li class="@(even ? "even" : "odd")" data-url="@track.Url" data-id="@track.Id">@track.ArtistName - @track.Name</li>
                    even = !even;
                }
            </ul>
        </div>
    </section>
}