<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="Personal website of Diego Varese, web programmer and music lover">
  <meta name="author" content="Diego Varese">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="@Links.Content.images.favicon_ico">
  <link rel="apple-touch-icon" href="@Links.Content.images.apple_touch_icon_png">


  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="@(Links.Content.css.style_css + "?v=2")">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
  @RenderSection("css", false)
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="@Links.Scripts.javascript.lib.modernizr_1_6_min_js"></script>

</head>

<body>

  <div id="container">
    <header>
        <h1>Bits and pieces</h1>
        @{Html.RenderPartial("Partials/Navigation");}
    </header>
    
    <div id="main">
        @RenderBody()
    </div>
    
    <footer>
        All rights reserved
    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>      !window.jQuery && document.write(unescape('%3Cscript src="@(Links.Scripts.javascript.lib.jquery_1_4_4_min_js)"%3E%3C/script%3E'))</script>
  @RenderSection("scripts", false)
  <!--[if lt IE 7 ]>
    <script src="@(Links.Scripts.javascript.lib.dd_belatedpng_js)"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="@Links.Scripts.javascript.profiling.yahoo_profiling_min_js"></script>
  <script src="@Links.Scripts.javascript.profiling.config_js"></script>
  <!-- end profiling code -->


  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <script>
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function (d, t) {
          var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
          g.async = true;
          g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g, s);
      })(document, 'script');
  </script>
  
</body>
</html>